.centrar_registro {
  margin-top: 18px;
}

.margen_seperior {
  margin-top: 20px;
}

.subir_imagen {
  margin-top: 30px;
}

.imagen {
  height: 60%;
  width: 1000%;
}

.red-input:focus {
  background: yellow;
  color: black;
}

invalid {
  border: 2px solid #ff0000;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}

.spinner, .spinner:after {
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
  border-radius: 50%;
  z-index: 2
}

.spinner {
  background-color: transparent;
  border-top: 10px solid rgb(66, 139, 202);
  border-right: 10px solid rgb(66, 139, 202);
  border-bottom: 10px solid rgb(66, 139, 202);
  border-left: 10px solid rgba(66, 139, 202, .2);
  transform: translateZ(0);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: .8s;
  animation-name: spinner-loading
}

@keyframes spinner-loading {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(1turn)
  }
}

#oscurecer {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3200;
  filter: alpha(opacity=65);
  -moz-opacity: 65;
  opacity: 0.65;
  background: #999;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}
